/*Pie de Página*/

footer{
    position: absolute;
    background: #B19AF8;
    height: auto;
    width: 100%;
    padding-top: 20px;
    color: #fff;
}

.contenedor-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 130px;
}

.contenedor-footer img{
    width: 45px;
    line-height: 3rem;
    transition: all 0.5s;
}

.contenedor-footer img:hover{
    transform: scale(1.1);
}

.contenedor-footer p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-redesociales{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.footer-redesociales li{
    margin: 0 10px;
}

.footer-redesociales a{
    text-decoration: none;
    color: #fff;
    transition: all 300ms ease;
}

.footer-redesociales a i{
    font-size: 1.1 rem;
    transition: color .3s ease;
}

.footer-redesociales a:hover i{
    color: rgb(164, 70, 252);
    transform: scale(1.2);
}

.copy{
    background-color: #a689fc;
    width: 100%;
    text-align: center;
}

.copy small{
    font-size: 10px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.copy b{
    opacity: 4;
    font-weight: 200;
}

@media  screen and (max-width:410px) {
    .contenedor-footer{
        height: 150px;
    }

    .contenedor-footer p{
        font-size: 10px;
    }
}


/* login */
:root{
    --colorTextos: #8e8c99;
}


.body-login{
    background-image: url(/assets/img/imagen-login.svg),url(/assets/img/Background-login.svg);
    background-repeat: no-repeat, repeat;
    background-size: contain;
    background-position: top right;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login h1{
    text-align: center;
    font-size: 25px;
    color: #a491dd;
}

#form-login{
    background: rgba(255, 255, 255, 0.38);
    padding: 40px 0;
    border-radius: 10px;
}

.form-login{
    width: 100%;
    margin: auto;
}

.form-login .grupo{
    position: relative;
    margin: 45px;
}

.input-login{
    background: none;
    color: #686262;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

.input-login:focus{
    outline: none;
    color:#322d36 ;
}

.body-login label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

.input-login:focus~label,
.input-login:valid~label{
    top: -14px;
    font-size: 12px;
    color: #95ddff;
}

.barra{
    position: absolute;
    display: block;
    width: 100%;
} 

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute; 
    background: #95ddff; 
    transition: 0.6s ease width; 
    left: 0;
}

.input-login:focus~.barra::before{
    width: 100%;
}

.button-login{
    border: none;
    display: block;
    background: #a689fc;
    width: 70%;
    margin: 10px auto;
    height: 40px;
    color: #fff;
    height: 40px;
    font-size: 16px;
}

.form-login p{
    display: block;
    font-size: 10px;
    margin: 10px auto;
    text-align: center;
    font-weight: 500;
}

.form-login p a{
    color: #a689fc;
    text-decoration: none;
}

@media screen and(max-width:500px){
    .form-login{
        width: 80%;
    }

    :root{
        --colorTextos: #4c4b50;
    }

    .input-login:focus~label,
    .input-login:valid~label{
    font-size: 18px;
    }
    
}

/*Sign in*/
:root{
    --colorTextos: #8e8c99;
}


.body-signin{
    background-image: url(/assets/img/imagen-signin.svg),url(/assets/img/Background-signin.svg);
    background-repeat: no-repeat, repeat;
    background-size: contain;
    background-position: bottom left;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-signin h1{
    text-align: center;
    font-size: 25px;
    color: #a491dd;
}

#form-signin{
    background: rgba(255, 255, 255, 0.38);
    padding: 40px 0;
    border-radius: 10px;
}

.form-signin{
    width: 100%;
    margin: auto;
}

.form-signin .grupo{
    position: relative;
    margin: 45px;
}

.input-signin{
    background: none;
    color: #686262;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

.input-signin:focus{
    outline: none;
    color:#322d36 ;
}

.body-signin label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

.input-signin:focus~label,
.input-signin:valid~label{
    top: -14px;
    font-size: 12px;
    color: #95ddff;
}

.input-signin:focus~.barra::before{
    width: 100%;
}

.button-signin{
    border: none;
    display: block;
    background: #a689fc;
    width: 70%;
    margin: 10px auto;
    height: 40px;
    color: #fff;
    height: 40px;
    font-size: 16px;
}

.form-signin p{
    display: block;
    font-size: 10px;
    margin: 10px auto;
    text-align: center;
    font-weight: 500;
}

.form-signin p a{
    color: #a689fc;
    text-decoration: none;
}

@media screen and(max-width:500px){
    .form-signin{
        width: 80%;
    }

    .input-login:focus~label,
    .input-login:valid~label{
    font-size: 18px;
    }
    
}